{
  "printWidth": 150,
  "proseWrap": "never",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "rangeStart": 0,
  "requirePragma": false,
  "insertPragma": false,
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf"
}
